<div class="login-container">
    <div class="login-form">
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="box-4"></div>
        <form class="register-form">
            <span class="material-symbols-outlined cancel">close</span>
            <h2>Registration Form</h2>
            <input type="text" class="inputbox" placeholder="Name"/>
            <input type="email" class="inputbox" placeholder="Email Address"/>
            <input type="text" class="inputbox" placeholder="Country"/>
            <input type="text" class="inputbox" placeholder="Phone"/>
            <div class="inputbox-con">
                <input type="text" class="input-2" style="outline: none;border: none;width: 100%;"  placeholder="Password"/>
                <span class="material-symbols-outlined ">visibility_off</span>
            </div>
           
            <span class="input-row"><input class="checkbox-1" type="checkbox"/>I accept terms & condtions</span>
            <button class="btn">create account</button>
            <span class="alt-s">Already have an account? <a class="alt-a">Sign In</a></span>
        </form>
        <span class="logo">net s<a class="logo-o">o</a>lutions</span>

    </div>
</div>